
header{
    background: url('../assets/images/banner.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 600px;
  }
  
  header h1{
    color: white;
    text-shadow: 3px 3px #343434;
  }
  
  
  header > p{
    color: white;
    font-size: 2em;
    margin: 0;
    text-shadow: 3px 3px #343434;
    text-align: center;
    font-weight: bold;
  }
  
  .details-banner{
    display: flex;
    flex-direction: row;
    width: var(--width-max);
    justify-content: space-around;
  }
  
  .box-details-banner{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin: 25px;
    padding: 20px;
    display: flex;
    color: white;
    flex-direction: column;
    width: 45%;
  }


  .box-details-banner p{
    margin: 0.3em;
  }
  
  .title-details{
    text-align: center;
  }

  @media (max-width: 800px) {
    .details-banner{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .box-details-banner{

      width: 90%;
    }
    
    header p{
      font-size: 1em;
    }
  }