nav{
    display: flex;
    flex-direction: row;
    margin: 25px auto;
    justify-content: center;
    background-color: rgba(0, 0, 0, 50%);
    width: var(--width-max);
    border-radius: 8px;
    height: 50px;
    padding: 0;
  }

.ul-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    color: white;
  }
  
  .ul-menu li{
    list-style: none;
    font-size: 1.5em;
    margin: 0 10px;
    
  }
  .ul-menu li .commom-link:hover{
    background-color: rgba(0, 0, 0, 30%);
    border-radius: 5px;
    cursor: pointer;
  }

  .ul-menu .play:hover{
    background-color: rgb(34,139, 34);
    transition: all 0.4s;
  }
  
  .ul-menu .play{
    background-color: var(--second-color);
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  }

  .commom-link{
    padding: 5px 10px;
    transition: all 0.4s;
    text-decoration: none;
    color: white;
  }

  .play-link{
    text-decoration: none;
    color: white;
  }