.section-smart-contract{
    background-color: white;
    color: var(--dark-gray);

    line-height: 80px;
    width: 100%;
    text-align: center;
}

.section-smart-contract h1{
    color: white;
    text-align: center;
    margin: 0;
    text-shadow: 3px 3px #343434;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.table-information{
  display: grid;
  grid-template-columns: 200px 200px 1fr;
  width: 800px;
  margin-bottom: 20px;
  gap: 0;
}

.cell-info{
  border: 1px solid black;
  margin: 2px;
  padding: 0;
  border-radius: 8px;
}

@media (max-width: 800px) {
  
    section h1{
      font-size: 1.8em;
    }

    .table-information{
      display: flex;
      flex-direction: column;
      width: 90%;
    }
  
  }